<html>
  <head>
    <title>Grad Projects</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript">
      function project(user, anchor){
        var pname = $(anchor).text();
        
        $.ajax({
          type:"GET",
          url:"/projects/projectdetails",
          async:false,
          timeout:5000,
          data:{name:user,pname:pname},
          success: function(data){
            plist = data;
            if(data.project === 'Error'){
              document.getElementById('title').innerHTML = 'No project detail found!';
              document.getElementById('titleLbl').innerHTML = none;
              document.getElementById('courseLbl').innerHTML = none;
              document.getElementById('abLbl').innerHTML = none;
              document.getElementById('typeLbl').innerHTML = none;
              
            } else {
              document.getElementById('titleLbl').innerHTML = 'Title:';
              document.getElementById('courseLbl').innerHTML = 'Course:';
              document.getElementById('abLbl').innerHTML = 'Abstract:';
              document.getElementById('typeLbl').innerHTML = 'Type:';

              document.getElementById('title').innerHTML = data.project;
              document.getElementById('course').innerHTML= data.course;
              document.getElementById('abstract').innerHTML = data.abstract;
              document.getElementById('type').innerHTML = data.type;
            }            
          }
        });        
      }
    </script>
  </head>
  <body>
      <div class="card" >
        <nav class="navbar navbar-dark bg-dark" style="padding-left: 10%">
          <span class="navbar-brand mb-0 h1">Home</span>
        </nav>        
        <hr>
        <div class="container">
          <div class="row" style="width:100%; height: 74%;">
            <div class="col-sm">
              <div class="card-header">
                <h5 class="card-title">{{user}} Profile</h5>
              </div>
              <div class="card-body">
                {{#user}}
                  <p class="card-text">Name:  Rashmi Pethe</p>  
                  <p class="card-text">Email: rashmipethe@oakland.edu</p>  
                  <p class="card-text">Street Address: Rochester</p>  
                  <p class="card-text">State: MI</p>            
                  <p class="card-text">Zip:   48307</p>  
                {{/user}}

                <a href="#" class="btn btn-primary">Add new project here</a>
              </div>
            </div>
            <div class="col-sm">
                <div class="card-header">
                  <h5 class="card-title">Listing of current Grad Projects</h5>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                      {{#list}}
                        <li class="list-group-item list-group-item-action"><a onClick="project('{{user}}',this); return false;" href="#projectModal" class="card-link" data-toggle="modal">{{pname}}</a></li>            
                      {{/list}}             
                  </ul>
                </div>   
              </div>           
            </div>          
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <span class="navbar-brand mb-0 h6"  style="text-align: center">All rights reserved.</span>
        </nav>          
      </div>   
      <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="projectModalLabel">Project Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group list-group-flush">                      
                <li class="list-group-item list-group-item-action"><strong id="titleLbl"></strong>&nbsp;&nbsp;<span id="title"></span></li>
                <li class="list-group-item list-group-item-action"><strong id="courseLbl"></strong>&nbsp;&nbsp;<span id="course"></span></li>
                <li class="list-group-item list-group-item-action"><strong id="abLbl"></strong>&nbsp;&nbsp;<span id="abstract"></span></li>
                <li class="list-group-item list-group-item-action"><strong id="typeLbl"></strong>&nbsp;&nbsp;<span id="type"></span></li>               
            </ul>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </div>
    </div>
         
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>  
</html>