<html>
  <head>
    <title>Grad Projects</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      <h1 style="padding-left: 10%;padding-top: 2%">Grad Projects - Rashmi Pethe</h1>
      
      <div class="container">
        <div class="row" style="width:50%;padding-top: 2%">
          <div class="col-sm">
            <nav class="navbar navbar-dark bg-dark">
              <p class="navbar-brand" >Click on Add Project to add new project</p>
            </nav>
            <div class="input" style="padding-top: 5%">
              <input class="btn btn-primary" type="submit" value="Add Project">
            </div>
          </div>
        </div>
        <div class="row" style="width: 50%;padding-top: 2%">
          <div class="col-sm">
            <nav class="navbar navbar-dark bg-dark">
              <p class="navbar-brand" >Listing of current projects</p>
            </nav>
            <ul class="list-group">
              <li><a href="#" class="list-group-item list-group-item-action" data-toggle="list">Cras justo odio</a></li>
              <li><a href="#" class="list-group-item list-group-item-action" data-toggle="list">Dapibus ac facilisis in</a></li>
              <li><a href="#" class="list-group-item list-group-item-action" data-toggle="list">Morbi leo risus</a></li>
              <li><a href="#" class="list-group-item list-group-item-action" data-toggle="list">Porta ac consectetur ac</a></li>
              <li><a href="#" class="list-group-item list-group-item-action" data-toggle="list">Vestibulum at eros</a></li>
            </ul>
          </div>          
        </div>      
    </div>
      
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>
  
</html>